input {
    min-height: 30px;
    background: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

p {
    margin: 0;
    font-size: 12px;
    position: absolute;
}

input:last-child {
    cursor: pointer;
}

.input-group {
    display: flex;
    position: relative;
}